* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-primary);
}
:root {
    --bg-light: #F4FFF9;
    --primary: #26ce79;
    --text-black: #21272A;
    --text-title: ;
    --text-header: ;
    --f-primary: "Roboto"
}
.c-green {
    color: var(--primary);
}
.c-black {
    color: var(--text-black);
}
.c-title {
    color: var(--text-title);
}
.c-header {
    color: var(--text-header);
}
.c-white {
    color: white;
}
html, body {
    height: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: var(--text-black);
    padding: 12px 8px;
    font-weight: 600;
    font-size: 16px;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}
html, body {
    height: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
}
.logo {
    background-image: url(/assets/logo/logo.png);
    width: 116px;
    height: 47px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
header, footer {
    background-color: #ECFFF5;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
footer {
    display: flex;
    justify-content: center;
    padding: 48px 0;
    .linkContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .linkType {
        line-height: 110%;
        font-size: 18px;
        font-weight: 700;
        color: var(--text-black);
    }
    .link {
        color: var(--text-black);
        font-size: 16px;
        font-weight: 500;
    }
}
@media only screen and (max-width: 1024px) {
    .menuOff {
        display: none !important;
    }
}
@media only screen and (max-width: 660px) {
    footer {
        display: flex;
        justify-content: center;
        padding: 24px 0;
        .linkContainer {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .linkType {
            line-height: 110%;
            font-size: 13px;
            font-weight: 700;
            color: var(--text-black);
        }
        .link {
            color: var(--text-black);
            font-size: 10px;
            font-weight: 500;
        }
    } 
}
section {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    .caption {
        font-size: 20px;
        letter-spacing: 1px;
        color: #00E06E;
        opacity: 0.9;
        text-transform: uppercase;
        font-weight: 700;
    }
    .title {
        color: var(--text-black);
        line-height: 110%;
        font-size: 42px;
        font-weight: 700;
    }
}
@media only screen and (max-width: 660px)  {
    .heading {
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
        align-items: center;
        .caption {
            font-size: 15px;
            letter-spacing: 1px;
            color: #00E06E;
            opacity: 0.9;
            text-transform: uppercase;
            font-weight: 700;
        }
        .title {
            color: var(--text-black);
            line-height: 100%;
            font-size: 24px;
            font-weight: 700;
        }
    }
}
.container {
    width: 95%;
    max-width: 1280px;
}
.flip {
    rotate: 180deg;
}
menu {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.hamburger {
    cursor: pointer;
}
button {
    font-family: var(--f-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 5px;
    border: 0;
    cursor: pointer;

    padding: 12px 16px;
    transition: 0.5s;
}
.Tablet { display: none }
.Mobile { display: none }
.PC { display: flex }
button.primary { background-color: var(--primary); color: white }
button.secondary { border: 2px solid var(--primary); color: var(--primary); background-color: #f8f9fe00 }
button.tertiary { border: 0; color: var(--primary); background-color: transparent; padding: 0 }
button.signIn, button.signUp {
    padding: 16px;
    width: 120px;
    height: 48px;
}
button:hover {
    filter: brightness(1.1);
}
@media only screen and (max-width: 660px) {
    button {
        padding: 6px 8px;
        font-size: 13px;
    }
    button.signIn, button.signUp {
        padding: 8px;
        width: 90px;
        height: 36px;
    }
}
.inter { font-family: "Inter"; }
.roboto { font-family: "Roboto"; }
.mulish { font-family: "Mulish"; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.j-end { display: flex; justify-content: end }
.j-start { display: flex; justify-content: start;}
.j-between { display: flex; justify-content: space-between }
.j-around { display: flex; justify-content: space-around }
.j-even { display: flex; justify-content: space-evenly }
.j-center { display: flex; justify-content: center  }
.j-left { display: flex; justify-content: left }
.j-right { display: flex; justify-content: right }
.a-center { display: flex; align-items: center }
.a-start { display: flex; align-items: flex-start }
.a-end { display: flex; align-items: flex-end; }
.a-unset { display: flex; align-items: unset;}
.flex-c { display: flex; flex-direction: column; }
.flex-cr { display: flex; flex-direction: column-reverse; }
.flex-r { display: flex; flex-direction: row; }
.flex-rr { display: flex; flex-direction: row-reverse; }
.flex-wrap { display: flex; flex-wrap: wrap }
.flex-nowrap { display: flex; flex-wrap: nowrap }
.line1 { line-height: 1px }
.line2 { line-height: 2px }
.line3 { line-height: 3px }
.line4 { line-height: 4px }
.line5 { line-height: 5px }
.line6 { line-height: 6px }
.line7 { line-height: 7px }
.line8 { line-height: 8px }
.line9 { line-height: 9px }
.line10 { line-height: 10px }
.line11 { line-height: 11px }
.line12 { line-height: 12px }
.line13 { line-height: 13px }
.line14 { line-height: 14px }
.line15 { line-height: 15px }
.line16 { line-height: 16px }
.line17 { line-height: 17px }
.line18 { line-height: 18px }
.line19 { line-height: 19px }
.line20 { line-height: 20px }
.line21 { line-height: 21px }
.line22 { line-height: 22px }
.line23 { line-height: 23px }
.line24 { line-height: 24px }
.line25 { line-height: 25px }
.line26 { line-height: 26px }
.line27 { line-height: 27px }
.line28 { line-height: 28px }
.line29 { line-height: 29px }
.line30 { line-height: 30px }
.line31 { line-height: 31px }
.line32 { line-height: 32px }
.line33 { line-height: 33px }
.line34 { line-height: 34px }
.line35 { line-height: 35px }
.line36 { line-height: 36px }
.line37 { line-height: 37px }
.line38 { line-height: 38px }
.line39 { line-height: 39px }
.line40 { line-height: 40px }
.line41 { line-height: 41px }
.line42 { line-height: 42px }
.line43 { line-height: 43px }
.line44 { line-height: 44px }
.line45 { line-height: 45px }
.line46 { line-height: 46px }
.line47 { line-height: 47px }
.line48 { line-height: 48px }
.line49 { line-height: 49px }
.line50 { line-height: 50px }
.line51 { line-height: 51px }
.line52 { line-height: 52px }
.line53 { line-height: 53px }
.line54 { line-height: 54px }
.line55 { line-height: 55px }
.line56 { line-height: 56px }
.line57 { line-height: 57px }
.line58 { line-height: 58px }
.line59 { line-height: 59px }
.line60 { line-height: 60px }
.line61 { line-height: 61px }
.line62 { line-height: 62px }
.line63 { line-height: 63px }
.line64 { line-height: 64px }
.line65 { line-height: 65px }
.line66 { line-height: 66px }
.line67 { line-height: 67px }
.line68 { line-height: 68px }
.line69 { line-height: 69px }
.line70 { line-height: 70px }
.line71 { line-height: 71px }
.line72 { line-height: 72px }
.line73 { line-height: 73px }
.line74 { line-height: 74px }
.line75 { line-height: 75px }
.line76 { line-height: 76px }
.line77 { line-height: 77px }
.line78 { line-height: 78px }
.line79 { line-height: 79px }
.line80 { line-height: 80px }
.line81 { line-height: 81px }
.line82 { line-height: 82px }
.line83 { line-height: 83px }
.line84 { line-height: 84px }
.line85 { line-height: 85px }
.line86 { line-height: 86px }
.line87 { line-height: 87px }
.line88 { line-height: 88px }
.line89 { line-height: 89px }
.line90 { line-height: 90px }
.line91 { line-height: 91px }
.line92 { line-height: 92px }
.line93 { line-height: 93px }
.line94 { line-height: 94px }
.line95 { line-height: 95px }
.line96 { line-height: 96px }
.line97 { line-height: 97px }
.line98 { line-height: 98px }
.line99 { line-height: 99px }
.line100 { line-height: 100px }
.g1 { gap: 1px }
.g2 { gap: 2px }
.g3 { gap: 3px }
.g4 { gap: 4px }
.g5 { gap: 5px }
.g6 { gap: 6px }
.g7 { gap: 7px }
.g8 { gap: 8px }
.g9 { gap: 9px }
.g10 { gap: 10px }
.g11 { gap: 11px }
.g12 { gap: 12px }
.g13 { gap: 13px }
.g14 { gap: 14px }
.g15 { gap: 15px }
.g16 { gap: 16px }
.g17 { gap: 17px }
.g18 { gap: 18px }
.g19 { gap: 19px }
.g20 { gap: 20px }
.g21 { gap: 21px }
.g22 { gap: 22px }
.g23 { gap: 23px }
.g24 { gap: 24px }
.g25 { gap: 25px }
.g26 { gap: 26px }
.g27 { gap: 27px }
.g28 { gap: 28px }
.g29 { gap: 29px }
.g30 { gap: 30px }
.g31 { gap: 31px }
.g32 { gap: 32px }
.g33 { gap: 33px }
.g34 { gap: 34px }
.g35 { gap: 35px }
.g36 { gap: 36px }
.g37 { gap: 37px }
.g38 { gap: 38px }
.g39 { gap: 39px }
.g40 { gap: 40px }
.g41 { gap: 41px }
.g42 { gap: 42px }
.g43 { gap: 43px }
.g44 { gap: 44px }
.g45 { gap: 45px }
.g46 { gap: 46px }
.g47 { gap: 47px }
.g48 { gap: 48px }
.g49 { gap: 49px }
.g50 { gap: 50px }
.g51 { gap: 51px }
.g52 { gap: 52px }
.g53 { gap: 53px }
.g54 { gap: 54px }
.g55 { gap: 55px }
.g56 { gap: 56px }
.g57 { gap: 57px }
.g58 { gap: 58px }
.g59 { gap: 59px }
.g60 { gap: 60px }
.g61 { gap: 61px }
.g62 { gap: 62px }
.g63 { gap: 63px }
.g64 { gap: 64px }
.g65 { gap: 65px }
.g66 { gap: 66px }
.g67 { gap: 67px }
.g68 { gap: 68px }
.g69 { gap: 69px }
.g70 { gap: 70px }
.g71 { gap: 71px }
.g72 { gap: 72px }
.g73 { gap: 73px }
.g74 { gap: 74px }
.g75 { gap: 75px }
.g76 { gap: 76px }
.g77 { gap: 77px }
.g78 { gap: 78px }
.g79 { gap: 79px }
.g80 { gap: 80px }
.g81 { gap: 81px }
.g82 { gap: 82px }
.g83 { gap: 83px }
.g84 { gap: 84px }
.g85 { gap: 85px }
.g86 { gap: 86px }
.g87 { gap: 87px }
.g88 { gap: 88px }
.g89 { gap: 89px }
.g90 { gap: 90px }
.g91 { gap: 91px }
.g92 { gap: 92px }
.g93 { gap: 93px }
.g94 { gap: 94px }
.g95 { gap: 95px }
.g96 { gap: 96px }
.g97 { gap: 97px }
.g98 { gap: 98px }
.g99 { gap: 99px }
.g100 { gap: 100px }
.w1 { font-weight: 100 }
.w2 { font-weight: 200 }
.w3 { font-weight: 300 }
.w4 { font-weight: 400 }
.w5 { font-weight: 500 }
.w6 { font-weight: 600 }
.w7 { font-weight: 700 }
.w8 { font-weight: 800 }
.w9 { font-weight: 900 }
.f1 {font-size: 1px}
.f2 {font-size: 2px}
.f3 {font-size: 3px}
.f4 {font-size: 4px}
.f5 {font-size: 5px}
.f6 {font-size: 6px}
.f7 {font-size: 7px}
.f8 {font-size: 8px}
.f9 {font-size: 9px}
.f10 {font-size: 10px}
.f11 {font-size: 11px}
.f12 {font-size: 12px}
.f13 {font-size: 13px}
.f14 {font-size: 14px}
.f15 {font-size: 15px}
.f16 {font-size: 16px}
.f17 {font-size: 17px}
.f18 {font-size: 18px}
.f19 {font-size: 19px}
.f20 {font-size: 20px}
.f21 {font-size: 21px}
.f22 {font-size: 22px}
.f23 {font-size: 23px}
.f24 {font-size: 24px}
.f25 {font-size: 25px}
.f26 {font-size: 26px}
.f27 {font-size: 27px}
.f28 {font-size: 28px}
.f29 {font-size: 29px}
.f30 {font-size: 30px}
.f31 {font-size: 31px}
.f32 {font-size: 32px}
.f33 {font-size: 33px}
.f34 {font-size: 34px}
.f35 {font-size: 35px}
.f36 {font-size: 36px}
.f37 {font-size: 37px}
.f38 {font-size: 38px}
.f39 {font-size: 39px}
.f40 {font-size: 40px}
.f41 {font-size: 41px}
.f42 {font-size: 42px}
.f43 {font-size: 43px}
.f44 {font-size: 44px}
.f45 {font-size: 45px}
.f46 {font-size: 46px}
.f47 {font-size: 47px}
.f48 {font-size: 48px}
.f49 {font-size: 49px}
.f50 {font-size: 50px}
.f51 {font-size: 51px}
.f52 {font-size: 52px}
.f53 {font-size: 53px}
.f54 {font-size: 54px}
.f55 {font-size: 55px}
.f56 {font-size: 56px}
.f57 {font-size: 57px}
.f58 {font-size: 58px}
.f59 {font-size: 59px}
.f60 {font-size: 60px}
.f61 {font-size: 61px}
.f62 {font-size: 62px}
.f63 {font-size: 63px}
.f64 {font-size: 64px}
.f65 {font-size: 65px}
.f66 {font-size: 66px}
.f67 {font-size: 67px}
.f68 {font-size: 68px}
.f69 {font-size: 69px}
.f70 {font-size: 70px}
.f71 {font-size: 71px}
.f72 {font-size: 72px}
.f73 {font-size: 73px}
.f74 {font-size: 74px}
.f75 {font-size: 75px}
.f76 {font-size: 76px}
.f77 {font-size: 77px}
.f78 {font-size: 78px}
.f79 {font-size: 79px}
.f80 {font-size: 80px}
.f81 {font-size: 81px}
.f82 {font-size: 82px}
.f83 {font-size: 83px}
.f84 {font-size: 84px}
.f85 {font-size: 85px}
.f86 {font-size: 86px}
.f87 {font-size: 87px}
.f88 {font-size: 88px}
.f89 {font-size: 89px}
.f90 {font-size: 90px}
.f91 {font-size: 91px}
.f92 {font-size: 92px}
.f93 {font-size: 93px}
.f94 {font-size: 94px}
.f95 {font-size: 95px}
.f96 {font-size: 96px}
.f97 {font-size: 97px}
.f98 {font-size: 98px}
.f99 {font-size: 99px}
@media only screen and (max-width: 1024px) {
    .PC { display: none }
    .Mobile { display: none }
    .Tablet { display: flex }
    .t-text-center { text-align: center; }
    .t-text-left { text-align: left; }
    .t-text-right { text-align: right; }
    .t-text-justify { text-align: justify; }
    .t-j-center { display: flex; justify-content: center; }
    .t-j-left { display: flex; justify-content: left; }
    .t-j-right { display: flex; justify-content: right; }
    .t-a-center { display: flex; align-items: center; }
    .t-a-start { display: flex; align-items: flex-start; }
    .t-a-end { display: flex; align-items: flex-end; }
    .t-a-unset { display: flex; align-items: unset;}
    .t-flex-c { display: flex; flex-direction: column; }
    .t-flex-cr { display: flex; flex-direction: column-reverse; }
    .t-flex-r { display: flex; flex-direction: row; }
    .t-flex-rr { display: flex; flex-direction: row-reverse; }
    .t-flex-nowrap { display: flex; flex-wrap: nowrap;}
    .t-flex-wrap { display: flex; flex-wrap: wrap;}
    .t-line1 { line-height: 1px }
    .t-line2 { line-height: 2px }
    .t-line3 { line-height: 3px }
    .t-line4 { line-height: 4px }
    .t-line5 { line-height: 5px }
    .t-line6 { line-height: 6px }
    .t-line7 { line-height: 7px }
    .t-line8 { line-height: 8px }
    .t-line9 { line-height: 9px }
    .t-line10 { line-height: 10px }
    .t-line11 { line-height: 11px }
    .t-line12 { line-height: 12px }
    .t-line13 { line-height: 13px }
    .t-line14 { line-height: 14px }
    .t-line15 { line-height: 15px }
    .t-line16 { line-height: 16px }
    .t-line17 { line-height: 17px }
    .t-line18 { line-height: 18px }
    .t-line19 { line-height: 19px }
    .t-line20 { line-height: 20px }
    .t-line21 { line-height: 21px }
    .t-line22 { line-height: 22px }
    .t-line23 { line-height: 23px }
    .t-line24 { line-height: 24px }
    .t-line25 { line-height: 25px }
    .t-line26 { line-height: 26px }
    .t-line27 { line-height: 27px }
    .t-line28 { line-height: 28px }
    .t-line29 { line-height: 29px }
    .t-line30 { line-height: 30px }
    .t-line31 { line-height: 31px }
    .t-line32 { line-height: 32px }
    .t-line33 { line-height: 33px }
    .t-line34 { line-height: 34px }
    .t-line35 { line-height: 35px }
    .t-line36 { line-height: 36px }
    .t-line37 { line-height: 37px }
    .t-line38 { line-height: 38px }
    .t-line39 { line-height: 39px }
    .t-line40 { line-height: 40px }
    .t-line41 { line-height: 41px }
    .t-line42 { line-height: 42px }
    .t-line43 { line-height: 43px }
    .t-line44 { line-height: 44px }
    .t-line45 { line-height: 45px }
    .t-line46 { line-height: 46px }
    .t-line47 { line-height: 47px }
    .t-line48 { line-height: 48px }
    .t-line49 { line-height: 49px }
    .t-line50 { line-height: 50px }
    .t-line51 { line-height: 51px }
    .t-line52 { line-height: 52px }
    .t-line53 { line-height: 53px }
    .t-line54 { line-height: 54px }
    .t-line55 { line-height: 55px }
    .t-line56 { line-height: 56px }
    .t-line57 { line-height: 57px }
    .t-line58 { line-height: 58px }
    .t-line59 { line-height: 59px }
    .t-line60 { line-height: 60px }
    .t-line61 { line-height: 61px }
    .t-line62 { line-height: 62px }
    .t-line63 { line-height: 63px }
    .t-line64 { line-height: 64px }
    .t-line65 { line-height: 65px }
    .t-line66 { line-height: 66px }
    .t-line67 { line-height: 67px }
    .t-line68 { line-height: 68px }
    .t-line69 { line-height: 69px }
    .t-line70 { line-height: 70px }
    .t-line71 { line-height: 71px }
    .t-line72 { line-height: 72px }
    .t-line73 { line-height: 73px }
    .t-line74 { line-height: 74px }
    .t-line75 { line-height: 75px }
    .t-line76 { line-height: 76px }
    .t-line77 { line-height: 77px }
    .t-line78 { line-height: 78px }
    .t-line79 { line-height: 79px }
    .t-line80 { line-height: 80px }
    .t-line81 { line-height: 81px }
    .t-line82 { line-height: 82px }
    .t-line83 { line-height: 83px }
    .t-line84 { line-height: 84px }
    .t-line85 { line-height: 85px }
    .t-line86 { line-height: 86px }
    .t-line87 { line-height: 87px }
    .t-line88 { line-height: 88px }
    .t-line89 { line-height: 89px }
    .t-line90 { line-height: 90px }
    .t-line91 { line-height: 91px }
    .t-line92 { line-height: 92px }
    .t-line93 { line-height: 93px }
    .t-line94 { line-height: 94px }
    .t-line95 { line-height: 95px }
    .t-line96 { line-height: 96px }
    .t-line97 { line-height: 97px }
    .t-line98 { line-height: 98px }
    .t-line99 { line-height: 99px }
    .t-line100 { line-height: 100px }
    .t-g1 { gap: 1px }
    .t-g2 { gap: 2px }
    .t-g3 { gap: 3px }
    .t-g4 { gap: 4px }
    .t-g5 { gap: 5px }
    .t-g6 { gap: 6px }
    .t-g7 { gap: 7px }
    .t-g8 { gap: 8px }
    .t-g9 { gap: 9px }
    .t-g10 { gap: 10px }
    .t-g11 { gap: 11px }
    .t-g12 { gap: 12px }
    .t-g13 { gap: 13px }
    .t-g14 { gap: 14px }
    .t-g15 { gap: 15px }
    .t-g16 { gap: 16px }
    .t-g17 { gap: 17px }
    .t-g18 { gap: 18px }
    .t-g19 { gap: 19px }
    .t-g20 { gap: 20px }
    .t-g21 { gap: 21px }
    .t-g22 { gap: 22px }
    .t-g23 { gap: 23px }
    .t-g24 { gap: 24px }
    .t-g25 { gap: 25px }
    .t-g26 { gap: 26px }
    .t-g27 { gap: 27px }
    .t-g28 { gap: 28px }
    .t-g29 { gap: 29px }
    .t-g30 { gap: 30px }
    .t-g31 { gap: 31px }
    .t-g32 { gap: 32px }
    .t-g33 { gap: 33px }
    .t-g34 { gap: 34px }
    .t-g35 { gap: 35px }
    .t-g36 { gap: 36px }
    .t-g37 { gap: 37px }
    .t-g38 { gap: 38px }
    .t-g39 { gap: 39px }
    .t-g40 { gap: 40px }
    .t-g41 { gap: 41px }
    .t-g42 { gap: 42px }
    .t-g43 { gap: 43px }
    .t-g44 { gap: 44px }
    .t-g45 { gap: 45px }
    .t-g46 { gap: 46px }
    .t-g47 { gap: 47px }
    .t-g48 { gap: 48px }
    .t-g49 { gap: 49px }
    .t-g50 { gap: 50px }
    .t-g51 { gap: 51px }
    .t-g52 { gap: 52px }
    .t-g53 { gap: 53px }
    .t-g54 { gap: 54px }
    .t-g55 { gap: 55px }
    .t-g56 { gap: 56px }
    .t-g57 { gap: 57px }
    .t-g58 { gap: 58px }
    .t-g59 { gap: 59px }
    .t-g60 { gap: 60px }
    .t-g61 { gap: 61px }
    .t-g62 { gap: 62px }
    .t-g63 { gap: 63px }
    .t-g64 { gap: 64px }
    .t-g65 { gap: 65px }
    .t-g66 { gap: 66px }
    .t-g67 { gap: 67px }
    .t-g68 { gap: 68px }
    .t-g69 { gap: 69px }
    .t-g70 { gap: 70px }
    .t-g71 { gap: 71px }
    .t-g72 { gap: 72px }
    .t-g73 { gap: 73px }
    .t-g74 { gap: 74px }
    .t-g75 { gap: 75px }
    .t-g76 { gap: 76px }
    .t-g77 { gap: 77px }
    .t-g78 { gap: 78px }
    .t-g79 { gap: 79px }
    .t-g80 { gap: 80px }
    .t-g81 { gap: 81px }
    .t-g82 { gap: 82px }
    .t-g83 { gap: 83px }
    .t-g84 { gap: 84px }
    .t-g85 { gap: 85px }
    .t-g86 { gap: 86px }
    .t-g87 { gap: 87px }
    .t-g88 { gap: 88px }
    .t-g89 { gap: 89px }
    .t-g90 { gap: 90px }
    .t-g91 { gap: 91px }
    .t-g92 { gap: 92px }
    .t-g93 { gap: 93px }
    .t-g94 { gap: 94px }
    .t-g95 { gap: 95px }
    .t-g96 { gap: 96px }
    .t-g97 { gap: 97px }
    .t-g98 { gap: 98px }
    .t-g99 { gap: 99px }
    .t-w1 { font-weight: 100 }
    .t-w2 { font-weight: 200 }
    .t-w3 { font-weight: 300 }
    .t-w4 { font-weight: 400 }
    .t-w5 { font-weight: 500 }
    .t-w6 { font-weight: 600 }
    .t-w7 { font-weight: 700 }
    .t-w8 { font-weight: 800 }
    .t-w9 { font-weight: 900 }
    .t-f1 { font-size: 1px }
    .t-f2 { font-size: 2px }
    .t-f3 { font-size: 3px }
    .t-f4 { font-size: 4px }
    .t-f5 { font-size: 5px }
    .t-f6 { font-size: 6px }
    .t-f7 { font-size: 7px }
    .t-f8 { font-size: 8px }
    .t-f9 { font-size: 9px }
    .t-f10 { font-size: 10px }
    .t-f11 { font-size: 11px }
    .t-f12 { font-size: 12px }
    .t-f13 { font-size: 13px }
    .t-f14 { font-size: 14px }
    .t-f15 { font-size: 15px }
    .t-f16 { font-size: 16px }
    .t-f17 { font-size: 17px }
    .t-f18 { font-size: 18px }
    .t-f19 { font-size: 19px }
    .t-f20 { font-size: 20px }
    .t-f21 { font-size: 21px }
    .t-f22 { font-size: 22px }
    .t-f23 { font-size: 23px }
    .t-f24 { font-size: 24px }
    .t-f25 { font-size: 25px }
    .t-f26 { font-size: 26px }
    .t-f27 { font-size: 27px }
    .t-f28 { font-size: 28px }
    .t-f29 { font-size: 29px }
    .t-f30 { font-size: 30px }
    .t-f31 { font-size: 31px }
    .t-f32 { font-size: 32px }
    .t-f33 { font-size: 33px }
    .t-f34 { font-size: 34px }
    .t-f35 { font-size: 35px }
    .t-f36 { font-size: 36px }
    .t-f37 { font-size: 37px }
    .t-f38 { font-size: 38px }
    .t-f39 { font-size: 39px }
    .t-f40 { font-size: 40px }
    .t-f41 { font-size: 41px }
    .t-f42 { font-size: 42px }
    .t-f43 { font-size: 43px }
    .t-f44 { font-size: 44px }
    .t-f45 { font-size: 45px }
    .t-f46 { font-size: 46px }
    .t-f47 { font-size: 47px }
    .t-f48 { font-size: 48px }
    .t-f49 { font-size: 49px }
    .t-f50 { font-size: 50px }
    .t-f51 { font-size: 51px }
    .t-f52 { font-size: 52px }
    .t-f53 { font-size: 53px }
    .t-f54 { font-size: 54px }
    .t-f55 { font-size: 55px }
    .t-f56 { font-size: 56px }
    .t-f57 { font-size: 57px }
    .t-f58 { font-size: 58px }
    .t-f59 { font-size: 59px }
    .t-f60 { font-size: 60px }
    .t-f61 { font-size: 61px }
    .t-f62 { font-size: 62px }
    .t-f63 { font-size: 63px }
    .t-f64 { font-size: 64px }
    .t-f65 { font-size: 65px }
    .t-f66 { font-size: 66px }
    .t-f67 { font-size: 67px }
    .t-f68 { font-size: 68px }
    .t-f69 { font-size: 69px }
    .t-f70 { font-size: 70px }
    .t-f71 { font-size: 71px }
    .t-f72 { font-size: 72px }
    .t-f73 { font-size: 73px }
    .t-f74 { font-size: 74px }
    .t-f75 { font-size: 75px }
    .t-f76 { font-size: 76px }
    .t-f77 { font-size: 77px }
    .t-f78 { font-size: 78px }
    .t-f79 { font-size: 79px }
    .t-f80 { font-size: 80px }
    .t-f81 { font-size: 81px }
    .t-f82 { font-size: 82px }
    .t-f83 { font-size: 83px }
    .t-f84 { font-size: 84px }
    .t-f85 { font-size: 85px }
    .t-f86 { font-size: 86px }
    .t-f87 { font-size: 87px }
    .t-f88 { font-size: 88px }
    .t-f89 { font-size: 89px }
    .t-f90 { font-size: 90px }
    .t-f91 { font-size: 91px }
    .t-f92 { font-size: 92px }
    .t-f93 { font-size: 93px }
    .t-f94 { font-size: 94px }
    .t-f95 { font-size: 95px }
    .t-f96 { font-size: 96px }
    .t-f97 { font-size: 97px }
    .t-f98 { font-size: 98px }
    .t-f99 { font-size: 99px }
}
@media only screen and (max-width: 660px) {
    .Tablet { display: none }
    .PC { display: none }
    .Mobile { display: flex }
    .m-text-center { text-align: center; }
    .m-text-left { text-align: left; }
    .m-text-right { text-align: right; }
    .m-text-justify { text-align: justify; }
    .m-j-center { display: flex; justify-content: center; }
    .m-j-left { display: flex; justify-content: left; }
    .m-j-right { display: flex; justify-content: right; }
    .m-a-center { display: flex; align-items: center; }
    .m-a-start { display: flex; align-items: flex-start; }
    .m-a-end { display: flex; align-items: flex-end; }
    .m-a-unset { display: flex; align-items: unset;}
    .m-flex-c { display: flex; flex-direction: column; }
    .m-flex-cr { display: flex; flex-direction: column-reverse; }
    .m-flex-r { display: flex; flex-direction: row; }
    .m-flex-rr { display: flex; flex-direction: row-reverse; }
    .m-flex-nowrap { display: flex; flex-wrap: nowrap;}
    .m-flex-wrap { display: flex; flex-wrap: wrap;}
    .m-line1 { line-height: 1px }
    .m-line2 { line-height: 2px }
    .m-line3 { line-height: 3px }
    .m-line4 { line-height: 4px }
    .m-line5 { line-height: 5px }
    .m-line6 { line-height: 6px }
    .m-line7 { line-height: 7px }
    .m-line8 { line-height: 8px }
    .m-line9 { line-height: 9px }
    .m-line10 { line-height: 10px }
    .m-line11 { line-height: 11px }
    .m-line12 { line-height: 12px }
    .m-line13 { line-height: 13px }
    .m-line14 { line-height: 14px }
    .m-line15 { line-height: 15px }
    .m-line16 { line-height: 16px }
    .m-line17 { line-height: 17px }
    .m-line18 { line-height: 18px }
    .m-line19 { line-height: 19px }
    .m-line20 { line-height: 20px }
    .m-line21 { line-height: 21px }
    .m-line22 { line-height: 22px }
    .m-line23 { line-height: 23px }
    .m-line24 { line-height: 24px }
    .m-line25 { line-height: 25px }
    .m-line26 { line-height: 26px }
    .m-line27 { line-height: 27px }
    .m-line28 { line-height: 28px }
    .m-line29 { line-height: 29px }
    .m-line30 { line-height: 30px }
    .m-line31 { line-height: 31px }
    .m-line32 { line-height: 32px }
    .m-line33 { line-height: 33px }
    .m-line34 { line-height: 34px }
    .m-line35 { line-height: 35px }
    .m-line36 { line-height: 36px }
    .m-line37 { line-height: 37px }
    .m-line38 { line-height: 38px }
    .m-line39 { line-height: 39px }
    .m-line40 { line-height: 40px }
    .m-line41 { line-height: 41px }
    .m-line42 { line-height: 42px }
    .m-line43 { line-height: 43px }
    .m-line44 { line-height: 44px }
    .m-line45 { line-height: 45px }
    .m-line46 { line-height: 46px }
    .m-line47 { line-height: 47px }
    .m-line48 { line-height: 48px }
    .m-line49 { line-height: 49px }
    .m-line50 { line-height: 50px }
    .m-line51 { line-height: 51px }
    .m-line52 { line-height: 52px }
    .m-line53 { line-height: 53px }
    .m-line54 { line-height: 54px }
    .m-line55 { line-height: 55px }
    .m-line56 { line-height: 56px }
    .m-line57 { line-height: 57px }
    .m-line58 { line-height: 58px }
    .m-line59 { line-height: 59px }
    .m-line60 { line-height: 60px }
    .m-line61 { line-height: 61px }
    .m-line62 { line-height: 62px }
    .m-line63 { line-height: 63px }
    .m-line64 { line-height: 64px }
    .m-line65 { line-height: 65px }
    .m-line66 { line-height: 66px }
    .m-line67 { line-height: 67px }
    .m-line68 { line-height: 68px }
    .m-line69 { line-height: 69px }
    .m-line70 { line-height: 70px }
    .m-line71 { line-height: 71px }
    .m-line72 { line-height: 72px }
    .m-line73 { line-height: 73px }
    .m-line74 { line-height: 74px }
    .m-line75 { line-height: 75px }
    .m-line76 { line-height: 76px }
    .m-line77 { line-height: 77px }
    .m-line78 { line-height: 78px }
    .m-line79 { line-height: 79px }
    .m-line80 { line-height: 80px }
    .m-line81 { line-height: 81px }
    .m-line82 { line-height: 82px }
    .m-line83 { line-height: 83px }
    .m-line84 { line-height: 84px }
    .m-line85 { line-height: 85px }
    .m-line86 { line-height: 86px }
    .m-line87 { line-height: 87px }
    .m-line88 { line-height: 88px }
    .m-line89 { line-height: 89px }
    .m-line90 { line-height: 90px }
    .m-line91 { line-height: 91px }
    .m-line92 { line-height: 92px }
    .m-line93 { line-height: 93px }
    .m-line94 { line-height: 94px }
    .m-line95 { line-height: 95px }
    .m-line96 { line-height: 96px }
    .m-line97 { line-height: 97px }
    .m-line98 { line-height: 98px }
    .m-line99 { line-height: 99px }
    .m-line100 { line-height: 100px }
    .m-g1 { gap: 1px }
    .m-g2 { gap: 2px }
    .m-g3 { gap: 3px }
    .m-g4 { gap: 4px }
    .m-g5 { gap: 5px }
    .m-g6 { gap: 6px }
    .m-g7 { gap: 7px }
    .m-g8 { gap: 8px }
    .m-g9 { gap: 9px }
    .m-g10 { gap: 10px }
    .m-g11 { gap: 11px }
    .m-g12 { gap: 12px }
    .m-g13 { gap: 13px }
    .m-g14 { gap: 14px }
    .m-g15 { gap: 15px }
    .m-g16 { gap: 16px }
    .m-g17 { gap: 17px }
    .m-g18 { gap: 18px }
    .m-g19 { gap: 19px }
    .m-g20 { gap: 20px }
    .m-g21 { gap: 21px }
    .m-g22 { gap: 22px }
    .m-g23 { gap: 23px }
    .m-g24 { gap: 24px }
    .m-g25 { gap: 25px }
    .m-g26 { gap: 26px }
    .m-g27 { gap: 27px }
    .m-g28 { gap: 28px }
    .m-g29 { gap: 29px }
    .m-g30 { gap: 30px }
    .m-g31 { gap: 31px }
    .m-g32 { gap: 32px }
    .m-g33 { gap: 33px }
    .m-g34 { gap: 34px }
    .m-g35 { gap: 35px }
    .m-g36 { gap: 36px }
    .m-g37 { gap: 37px }
    .m-g38 { gap: 38px }
    .m-g39 { gap: 39px }
    .m-g40 { gap: 40px }
    .m-g41 { gap: 41px }
    .m-g42 { gap: 42px }
    .m-g43 { gap: 43px }
    .m-g44 { gap: 44px }
    .m-g45 { gap: 45px }
    .m-g46 { gap: 46px }
    .m-g47 { gap: 47px }
    .m-g48 { gap: 48px }
    .m-g49 { gap: 49px }
    .m-g50 { gap: 50px }
    .m-g51 { gap: 51px }
    .m-g52 { gap: 52px }
    .m-g53 { gap: 53px }
    .m-g54 { gap: 54px }
    .m-g55 { gap: 55px }
    .m-g56 { gap: 56px }
    .m-g57 { gap: 57px }
    .m-g58 { gap: 58px }
    .m-g59 { gap: 59px }
    .m-g60 { gap: 60px }
    .m-g61 { gap: 61px }
    .m-g62 { gap: 62px }
    .m-g63 { gap: 63px }
    .m-g64 { gap: 64px }
    .m-g65 { gap: 65px }
    .m-g66 { gap: 66px }
    .m-g67 { gap: 67px }
    .m-g68 { gap: 68px }
    .m-g69 { gap: 69px }
    .m-g70 { gap: 70px }
    .m-g71 { gap: 71px }
    .m-g72 { gap: 72px }
    .m-g73 { gap: 73px }
    .m-g74 { gap: 74px }
    .m-g75 { gap: 75px }
    .m-g76 { gap: 76px }
    .m-g77 { gap: 77px }
    .m-g78 { gap: 78px }
    .m-g79 { gap: 79px }
    .m-g80 { gap: 80px }
    .m-g81 { gap: 81px }
    .m-g82 { gap: 82px }
    .m-g83 { gap: 83px }
    .m-g84 { gap: 84px }
    .m-g85 { gap: 85px }
    .m-g86 { gap: 86px }
    .m-g87 { gap: 87px }
    .m-g88 { gap: 88px }
    .m-g89 { gap: 89px }
    .m-g90 { gap: 90px }
    .m-g91 { gap: 91px }
    .m-g92 { gap: 92px }
    .m-g93 { gap: 93px }
    .m-g94 { gap: 94px }
    .m-g95 { gap: 95px }
    .m-g96 { gap: 96px }
    .m-g97 { gap: 97px }
    .m-g98 { gap: 98px }
    .m-g99 { gap: 99px }
    .m-w1 { font-weight: 100 }
    .m-w2 { font-weight: 200 }
    .m-w3 { font-weight: 300 }
    .m-w4 { font-weight: 400 }
    .m-w5 { font-weight: 500 }
    .m-w6 { font-weight: 600 }
    .m-w7 { font-weight: 700 }
    .m-w8 { font-weight: 800 }
    .m-w9 { font-weight: 900 }
    .m-f1 { font-size: 1px }
    .m-f2 { font-size: 2px }
    .m-f3 { font-size: 3px }
    .m-f4 { font-size: 4px }
    .m-f5 { font-size: 5px }
    .m-f6 { font-size: 6px }
    .m-f7 { font-size: 7px }
    .m-f8 { font-size: 8px }
    .m-f9 { font-size: 9px }
    .m-f10 { font-size: 10px }
    .m-f11 { font-size: 11px }
    .m-f12 { font-size: 12px }
    .m-f13 { font-size: 13px }
    .m-f14 { font-size: 14px }
    .m-f15 { font-size: 15px }
    .m-f16 { font-size: 16px }
    .m-f17 { font-size: 17px }
    .m-f18 { font-size: 18px }
    .m-f19 { font-size: 19px }
    .m-f20 { font-size: 20px }
    .m-f21 { font-size: 21px }
    .m-f22 { font-size: 22px }
    .m-f23 { font-size: 23px }
    .m-f24 { font-size: 24px }
    .m-f25 { font-size: 25px }
    .m-f26 { font-size: 26px }
    .m-f27 { font-size: 27px }
    .m-f28 { font-size: 28px }
    .m-f29 { font-size: 29px }
    .m-f30 { font-size: 30px }
    .m-f31 { font-size: 31px }
    .m-f32 { font-size: 32px }
    .m-f33 { font-size: 33px }
    .m-f34 { font-size: 34px }
    .m-f35 { font-size: 35px }
    .m-f36 { font-size: 36px }
    .m-f37 { font-size: 37px }
    .m-f38 { font-size: 38px }
    .m-f39 { font-size: 39px }
    .m-f40 { font-size: 40px }
    .m-f41 { font-size: 41px }
    .m-f42 { font-size: 42px }
    .m-f43 { font-size: 43px }
    .m-f44 { font-size: 44px }
    .m-f45 { font-size: 45px }
    .m-f46 { font-size: 46px }
    .m-f47 { font-size: 47px }
    .m-f48 { font-size: 48px }
    .m-f49 { font-size: 49px }
    .m-f50 { font-size: 50px }
    .m-f51 { font-size: 51px }
    .m-f52 { font-size: 52px }
    .m-f53 { font-size: 53px }
    .m-f54 { font-size: 54px }
    .m-f55 { font-size: 55px }
    .m-f56 { font-size: 56px }
    .m-f57 { font-size: 57px }
    .m-f58 { font-size: 58px }
    .m-f59 { font-size: 59px }
    .m-f60 { font-size: 60px }
    .m-f61 { font-size: 61px }
    .m-f62 { font-size: 62px }
    .m-f63 { font-size: 63px }
    .m-f64 { font-size: 64px }
    .m-f65 { font-size: 65px }
    .m-f66 { font-size: 66px }
    .m-f67 { font-size: 67px }
    .m-f68 { font-size: 68px }
    .m-f69 { font-size: 69px }
    .m-f70 { font-size: 70px }
    .m-f71 { font-size: 71px }
    .m-f72 { font-size: 72px }
    .m-f73 { font-size: 73px }
    .m-f74 { font-size: 74px }
    .m-f75 { font-size: 75px }
    .m-f76 { font-size: 76px }
    .m-f77 { font-size: 77px }
    .m-f78 { font-size: 78px }
    .m-f79 { font-size: 79px }
    .m-f80 { font-size: 80px }
    .m-f81 { font-size: 81px }
    .m-f82 { font-size: 82px }
    .m-f83 { font-size: 83px }
    .m-f84 { font-size: 84px }
    .m-f85 { font-size: 85px }
    .m-f86 { font-size: 86px }
    .m-f87 { font-size: 87px }
    .m-f88 { font-size: 88px }
    .m-f89 { font-size: 89px }
    .m-f90 { font-size: 90px }
    .m-f91 { font-size: 91px }
    .m-f92 { font-size: 92px }
    .m-f93 { font-size: 93px }
    .m-f94 { font-size: 94px }
    .m-f95 { font-size: 95px }
    .m-f96 { font-size: 96px }
    .m-f97 { font-size: 97px }
    .m-f98 { font-size: 98px }
    .m-f99 { font-size: 99px }
}