.section1 {
    background-image: url(/assets/background/background.png);
    height: 30vh;
    min-height: 200px;
    background-size: cover;
    position: relative;
    display: flex;
    padding: 10px;
    align-items: flex-end;
    .filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top,transparent, rgba(0, 0, 0, 0.411) 30%);
        z-index: 0;
        bottom: 0;
    }
}
.section2 {
    .card {
        --c: transparent;
        --bg: url(/assets/trainer/Anh\ Huy.png);
        width: calc(100% / 4 - 10px * 3 / 4);
        min-width: 300px;
        height: 300px;
        border: 2px solid white;
        background: linear-gradient(to bottom, transparent 50%, var(--c) 95%), var(--bg);
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-radius: 3px;
        padding: 10px;
        transition: --c 0.5s;
        position: relative;
        .info {
            transition: 0.5s;
            color: transparent;
            div {
                color: inherit;
            }
            text-align: center;
        }
        .favorite {
            position: absolute;
            top: 10px;
            right: 10px;
            display: none;
        }
    }
    .card:hover {
        .info {
            color: white;
            div {
                color: inherit;
            }
        }
        color: white;
        --c: rgba(30, 30, 30, 0.866);
    }
}
@property --c{
  syntax: '<color>';
  inherits: false;
  initial-value: rgba(27, 27, 27, 0.371);
}
.backdrop {
    .modal {
        width: 50%;
        min-width: 600px;
        height: 400px;
        position: relative;
        .label {
            transition: 0.5s;
            opacity: 0;
            background-color: transparent;
        }
        .star {
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .star:hover .label {
            opacity: 1;
            color: rgb(255, 251, 0);
            background-color: rgb(0, 0, 0);
            padding: 2px;
        }
        .left {
            width: calc(50% - 5px);
            background-color: white;
            background-image: url();
            background-size: 100%;
        }
        .right {
            width: calc(50% - 5px);
        }
    }
}
@media only screen and (max-width: 1024px) {
    .backdrop {
        .modal {
            min-width: 400px;
            width: 50% !important;
            height: 200px;
            .left {
                display: none;
            }
            .right {
                width: 100%;
            }
        }
    }
}