.section1 {
    background-image: url(/assets/background/background.png);
    height: 80vh;
    background-size: cover;
    position: relative;
    .filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top,transparent, rgba(0, 0, 0, 0.411) 30%);
        z-index: 0;
    }
}
.section3 {
    .card {
        width: calc(100% / 4 - 10px * 3 / 4);
        min-width: 200px;
        height: 200px;
        background-color: aliceblue;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 1024px) {
    .section3 {
        .card {
            display: flex;
            padding: 10px;
            align-items: flex-end;
            width: calc(100% / 2 - 10px * 1 / 2);
            min-width: 200px;
            height: 200px;
            background-color: aliceblue;
        }
    }
}
.section4 {
    .card {
        width: calc(100% / 4 - 10px * 3 / 4);
        min-width: 200px;
        height: 250px;
        background-color: aliceblue;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 1024px) {
    .section4 {
        .card {
            display: flex;
            padding: 10px;
            align-items: flex-end;
            width: calc(100% / 2 - 10px * 1 / 2);
            min-width: 200px;
            height: 250px;
            background-color: aliceblue;
        }
    }
}